
@model IEnumerable<OrderHeader_FillGrid_Dto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            FirstNameSeller
        </th>
        <th>
            LastNameSeller
        </th>
        <th>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.FirstName) +" "+
            @Html.DisplayFor(modelItem => item.Seller.LastName)
            <select ></select>
        </td>
        <td>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buyer.FirstName)+ " "+
            @Html.DisplayFor(modelItem => item.Buyer.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

